# SPDX-License-Identifier: Apache-2.0

COMPOSE_PROJECT_NAME=quicksense

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=POLARIS
POSTGRES_PORT=5432

POLARIS_VERSION=1.5.0
POLARIS_PORT=8181
POLARIS_MANAGEMENT_PORT=8182
POLARIS_REALM=POLARIS
POLARIS_CATALOG=quicksense
POLARIS_CLIENT_ID=root
POLARIS_CLIENT_SECRET=s3cr3t

MINIO_IMAGE_TAG=RELEASE.2025-09-07T16-13-09Z
MINIO_MC_IMAGE_TAG=RELEASE.2025-08-13T08-35-41Z
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_BUCKET=warehouse
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001

SPARK_PORT=15002
SPARK_UI_PORT=4040

TRINO_VERSION=481
TRINO_PORT=8080
TRINO_CLIENT_VERSION=0.337.0

KEYCLOAK_VERSION=26.3.3
KEYCLOAK_PORT=8082
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin
KEYCLOAK_REALM=quicksense
KEYCLOAK_CLIENT_ID=quicksense-api
KEYCLOAK_CLIENT_SECRET=qs-api-secret
KEYCLOAK_TEST_USER=qsuser
KEYCLOAK_TEST_PASSWORD=qs-password

